/* import the font  */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

/* Set the variables for colors */
:root {
  --red: hsl(356, 100%, 66%);
  --dark-blue: hsl(208, 49%, 24%);
  --light-red: hsl(355, 100%, 74%);
  --gradient-light-red: hsl(13, 100%, 72%);
  --gradient-red: hsl(353, 100%, 62%);
  --gradient-body: hsl(237, 17%, 21%);
  --gradient-body-dark: hsl(237, 23%, 32%);
  --white: hsl(0, 0%, 100%);
  --black-blue: hsl(240, 10%, 16%);
  --darkest-blue: hsl(240, 10%, 16%);
  --grayish-blue: hsl(207, 13%, 34%);
  --font-first: "Ubuntu", sans-serif;
  --font-second: "Overpass", sans-serif;
  font-size: 16px;
}
/* reset the styles */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  /* font-family: "Overpass", sans-serif; */
  font-family: var(--font-first);
  max-width: 100%;
}
header {
  min-height: 90vh;
  background: url(../images/bg-pattern-intro.svg) no-repeat 30% 50%/ 200%,
    linear-gradient(90deg, var(--gradient-light-red), var(--gradient-red));
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-direction: column;
  text-align: center;
  border-radius: 0px 0px 0px 100px;
  position: relative;
}
section#intro {
  padding: 5% 10%;
  font-family: var(--font-first);
}
.font-size-2 {
  font-size: 2rem;
}
.font-size-3 {
  font-size: 3.5rem;
}
div#logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
}
#main-nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
#navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 30px 10%;
  font-family: var(--font-first);
}
.navigation {
  width: 70%;
  display: flex;
  list-style: none;
}
.nav-form {
  width: 30%;
}
.navigation .nav-dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  background-color: var(--white);
  color: var(--black-blue);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}
.nav-dropdown li {
  padding: 10px;
  cursor: pointer;
}
.nav-dropdown li:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.navlink {
  padding: 20px;
  cursor: pointer;
}
.arrow-icon {
  width: 15px;
}
/* Btn  */
.btn {
  padding: 10px 10px;
  border: 0px;
  margin: 4px;
  border-radius: 20px;
  color: var(--white);
  background: transparent;
  font-weight: 700;
}
.btn:active {
  outline: 0px !important;
  border: 0px !important;
}

.btn-primary {
  background-color: var(--white);
  color: var(--red);
}
.btn-border {
  border: 1px solid var(--white);
}
.nav-form {
  display: flex;
}
.intro-btn-container {
  padding: 30px 10px;
}
.row {
  width: 100%;
  padding: 0px 10%;
  display: flex;
}
.w-50 {
  width: 50%;
  max-width: 50%;
}
.info-section {
  padding: 100px 0px 100px 0px;
  width: 100%;
  overflow: hidden;
  min-height: 20px;
}
.info-section h2 {
  padding: 10px 10%;
}
.text-group {
  padding: 20px 10px;
  line-height: 1.4rem;
  font-family: var(--font-first);
}
.text-group p {
  font-size: 0.9rem;
  font-family: var(--font-second);
}
h3 {
  font-size: 1.8rem;
  margin: 2.5rem 0px;
}
h2 {
  font-size: 2.5rem;
  margin: 3rem 0px;
}
h1 {
  margin: 20px 0px;
}
h1,
h2,
h3 {
  font-family: var(--font-second) !important;
}
.text-center {
  text-align: center;
}
.img-res {
  width: 100%;
}
.relative-container {
  position: relative;
}

.text-blue {
  color: var(--dark-blue) !important;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}
button:hover,
button:active {
  outline: none;
  border: 0px;
}
.btn-primary:hover {
  background-color: var(--light-red);
  color: var(--white);
}
.info-img-half {
  top: -20%;
  position: relative;
  width: 150%;
  right: -40%;
  margin-bottom: -150px;
}
.reverse-img {
  left: -45%;
  top: -100px;
}
.btn-border:hover {
  background-color: var(--white);
  color: var(--red);
}
.darker-container {
  background: url(../images/bg-pattern-circles.svg) no-repeat -100% 80%/80%,
    linear-gradient(-90deg, var(--gradient-body-dark), var(--gradient-body));
  color: var(--white);
}
.rounded-bottom {
  border-radius: 0px 40px;
}
.info-section-reverse {
  padding: 0px;
  overflow: visible;
  margin-bottom: 5%;
  width: 100%;
}
.phone-img {
  margin: -10% 0px -18%;
}

#footer {
  padding: 60px 0px 20px 0px;
  background: var(--black-blue);
  color: var(--white);
  border-radius: 0px 60px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.w-25 {
  width: 25%;
  max-height: 25%;
}
.flex-column {
  flex-direction: column;
}
.footer-nav {
  list-style: none;
}
.footer-nav li {
  padding: 5px 0px;
  cursor: pointer;
}
.footer-nav h4 {
  padding: 20px 0px;
}

a {
  color: var(--light-red);
}
.attribution {
  padding: 50px 0px 10px 0px;
}
.d-hidden {
  display: inline;
}
.m-hidden {
  display: none;
}
.inverted {
  transform: rotate(180deg);
}
@media (max-width: 840px) {
  .m-hidden {
    display: inline;
  }
  #navbar {
    justify-content: space-between;
  }
  #main-nav {
    display: none;
    position: absolute;
    background-color: var(--white);
    color: var(--grayish-blue);
    top: 20%;
    border-radius: 10px;
    padding: 20px 10px;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  }
  #main-nav.not-hidden {
    display: flex;
  }
  .d-hidden {
    display: none;
  }

  #nav-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .navigation {
    width: 100%;
    flex-direction: column;
    font-weight: 700;
  }
  #nav-form .btn {
    color: inherit;
    padding: 10px 40px;
  }
  #nav-form .btn-primary {
    background: linear-gradient(
      90deg,
      var(--gradient-light-red),
      var(--gradient-red)
    );
    color: var(--white);
  }
  .info-img-half,
  .reverse-img {
    position: relative;
    width: 100%;
    right: 0%;
    margin: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
  }

  .navigation .nav-dropdown {
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .navigation .nav-dropdown li {
    width: 100%;
    text-align: center;
  }
  .row {
    flex-direction: column;
  }
  .w-50 {
    width: 100%;
    max-width: 100%;
  }
  .w-25 {
    width: 100%;
    text-align: center;
  }
  .mobile-reverse {
    flex-direction: column-reverse;
  }
  .darker-container {
    padding-bottom: 50px;
  }
}
